html {
    height: 100%;
}

body {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px !important;
    /*display: flex;*/
    flex-wrap: wrap;
    text-align: center;
    background: #2239a1;
    background: -moz-linear-gradient(0.75turn, #20295d, #0D0D23D3, #f47621);
    background: -webkit-linear-gradient(0.75turn, #20295d, #0D0D23D3, #f47621);
    background: linear-gradient(0.35turn, #20295d, #0D0D23D3, #f47621);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffff00", endColorstr="#f7942c", GradientType=1);
}

.display-3 {
    display: flex;
    flex-wrap: wrap;
}

.display-3 div {
    flex: 1;
}

.jumbotron {
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.88);
    display: flex !important;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#tabby-checkout {
    width: 100%;
    height: 100%;
}

.content {
    padding: 20px;
}

.button {
    height: 42px;
    background: #3eedbf;
    border-radius: 3px;
    text-transform: uppercase;
    font-size: 14px;
    transition: background 0.1s;
    cursor: pointer;
    padding: 0;
    border: 0;
    outline: 0;
    width: 100%;
}

.control {
    background: white;
    border: 1px solid #505050;
    text-transform: initial;
}

.control {
    margin-top: 100px;
}

.control + .control {
    margin-top: 20px;
}

.button.primary {
    background: #63debe;
}

.bnk-imgs.selected{
    border: #5cb85c solid 2px;
}

.plansTable{
    font-size: 20px;
    cursor: pointer;
    border: solid 1px black;
    width: 100%;
}
.plansTable tr{
    border: solid 1px black;
}

.plansRow.selected{
    background: #5cb85c;
}

.bnk-imgs{
    border: black solid 2px;
    border-radius: 20px;
    cursor: pointer;
    height: fit-content;      /* equals max image height */
    width: fit-content;
    white-space: nowrap;
    text-align: center;
    margin: 1em 0;
}

.bnk-img-logo{
    vertical-align: middle;
    height: 60px;
    width: 140px;
}

.lang-div{
    text-align: left !important;
    height: fit-content;
    width : 100% !important;
}
